body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    max-width: 800px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.form-group input[type="file"] {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px;
    background-color: #f8f9fa;
    color: #495057;
}

.form-group input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.form-group input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}

select.form-control {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5rem;
    padding-right: 2.5rem;
}

.btn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

#result {
    white-space: pre-wrap;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

#imagePreviewContainer img,
#cameraContainer video {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.hidden {
    display: none;
}
